@font-face {
  font-family: 'PP Right Grotesk Mono';
  src: url('../portfolio/assets/fonts/PPRightGroteskMono-Regular.otf') format('otf');
}

::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
  color:#000;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width:100%;
  height:100%;
  background-color:#FFF;
  color:#000;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
  cursor: url("assets/cursor.png") 25 15, auto;
}

#banner-container {
  position:absolute;
  top:0;
  left:0;
  width:100dvw;
  height:100dvh;
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-end;
  z-index:-1;
  font-size:1em;
  padding-bottom:10px;
  overflow-x:hidden;
}

#banner {
  width:100%;
  margin-left:100%;
  animation:slide-left 50s linear;
  animation-delay:1s;
  animation-iteration-count: infinite;
}

@keyframes slide-left {
  from { margin-left: 100%; }
  to { margin-left: -50%; }
}

  #banner {
    font-family:'PP Right Grotesk Mono',Helvetica,sans-serif;
    /* text-transform:uppercase; */
  }

#bg-container {
  position:absolute;
  z-index:-2;
  top:0;
  left:0;
}

.main-container {
  background-color:#f5f5f5;
  width:100dvw;
  height:100dvh;
  overflow:hidden;
}

#home-container {
  width:100dvw;
  height:100dvh;
  overflow:hidden;
}

.header {
  width:100%;
  position:relative;
  z-index:1;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  height:50px;
}

  .name {
    font-size:1.25em;
    font-family: quasimoda, sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor:url("assets/cursor.png") 25 15, auto;
    transition:color 0.25s;
  }

  #nav-circle {
    width:25px;
    height:25px;
    background-color:#000;
    border-radius:50%;
    z-index:1;
    transition:background-color 0.25s;
  }

  .nav {
    /**/padding-bottom:20px;
    /**/position:absolute;
    /**/top:0;
    /**/left:0;
    /**/height:0dvh;
    /**/opacity:0;
    /**/background-color:#f5f5f5;
    /**/width:100%;
    display:flex;
    /**/flex-flow:column nowrap;
    /**/gap:20px;
    /**/justify-content:center;
    /**/align-items:center;
    font-size:1em;
    transition:height 1s;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

    .nav-item {
      /**/opacity:0;
      /**/transition:opacity 1s;
    }

    .nav-selected{
      color:red;
    }

#home-content {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  overflow:scroll;
  display:flex;
  flex-flow: column nowrap;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
}

  .home-item:nth-child(1) {
    padding-top:10vh;
  }

  .home-item {
    width:100%;
    display:flex;
    /**/flex-flow:column nowrap;
    /* justify-content:space-between; */
    align-items:center;
    padding-top:20px;
    /**/padding-bottom:50px;
  }

    .item-desc {
      /**/width:85%;
      font-family:'PP Right Grotesk Mono',Helvetica,sans-serif;
      font-size:12px;
      /**/padding-bottom:20px;
    }

    .item-content {
      width:100%;
      display:flex;
      justify-content:center;
      align-items:center;
    }

  .border img {
    border:40px solid #FFF;
  }

  .slideshow {
    cursor:ew-resize !important;
  }

  .book-size img {
    /* height:50vh; */
    height:60vw;
  }

  .sq-size img {
    height:45vw;
  }

  .poster-size img {
    width:65vw;
  }

  .web-size video, .web-size img {
    width:80vw;
  }

  .vertical-vid video {
    /**/width:40vw;
  }

  .horizontal-vid video {
    /**/width:70vw;
  }

  .proj-link {
    text-decoration: underline;
  }

  .preview {
    display:none;
  }

#info-content {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  padding:20px;
  font-size:12px;
  overflow:hidden;
  font-family:'PP Right Grotesk Mono',Helvetica,sans-serif;
}

  .info {
    margin-bottom:10px;
    line-height:14px;
  }

  /* .occupation:hover {
    text-decoration:underline;
  } */

  #info-content img {
    width:33%;
    min-width:350px;
    max-width:600px;
    margin-bottom:20px;
  }

  /* #me-photos {
    z-index:-1;
    width:100dvw;
    height:100dvh;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
  }

    #me-photos img {
      width:350px;
    } */

  #website-info {
    font-size:10px;
    position:absolute;
    bottom:0;
    margin-bottom:20px;
  }

@media only screen and (min-width:768px) {

  #nav-circle {
    display:none;
  }

  .nav {
    padding-bottom:0px;
    position:relative;
    top:0;
    left:0;
    height:auto;
    opacity:1 !important;
    background-color:RGB(255,255,255,0);
    width:auto;
    flex-flow:row nowrap;
  }

  .nav-item:hover:not(.nav-selected) {
    color:#d6d6d6;
  }

  .nav-item {
    padding-left:3em;
    opacity:1 !important;
    transition:color .25s;
    cursor:url("assets/cursor.png") 25 15, auto;
  }

  .home-item {
    flex-flow:row nowrap;
    justify-content:space-between;
    padding-bottom:90px;
  }

    .item-desc {
      width:75%;
    }

    .book-size img {
      height:50vh;
    }

    .sq-size img {
      height:35vh;
    }

    .poster-size img {
      width:40vh;
    }

    .web-size img {
      width:55vw;
    }

    .web-size video {
      width:55vw;
    }

    .vertical-vid video {
      height:25vw;
      width:auto;
    }

    .horizontal-vid video {
      height:20vw;
      width:auto;
    }

}

@media only screen and (min-width:1024px) {
  .item-desc {
    width:25%;
  }

  .sq-size img {
    height:45vh;
  }

  .poster-size img {
    width:50vh;
  }

  .web-size video {
    width:35vw;
  }

  .web-size img {
    width:35vw;
  }

}

@media (hover:hover) {

  .proj-link:hover {
    font-style: italic;
  }

  #nav-circle:hover {
    background-color:#d6d6d6;
    cursor:url("assets/cursor.png") 25 15, auto;
  }

  .name:hover {
    color:#d6d6d6;
  }

  .no-hover:hover {
    color:#000;
  }
}
