::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
}

html, body {
  padding:0;
  margin:0;
}

body {
  background-color:#f5f5f5;
  color:#000;
  font-family: nitti-grotesk-light, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor:url("assets/cursor.png") 25 15, auto;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background-color:#f5f5f5;
  z-index:9999;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#FF6803;
}

#home-container {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

  .header {
    position:relative;
    padding-left:20px;
    padding-top:20px;
    height:50px;
  }

    .name {
      font-size:1.25em;
      font-family: quasimoda, sans-serif;
      font-weight: 600;
      font-style: normal;
      cursor:url("assets/cursor.png") 25 15, auto;
      transition:color 0.25s;
    }

#bg-container {
  position:absolute;
  top:0;
  left:0;
  width:100dvw;
  height:100dvh;
  display:flex;
  flex-flow:column nowrap;
  overflow:hidden;
}

  #bounce-container {
    width:100%;
    flex-grow:1;
  }

.new-page {
  position:absolute;
  top:0;
  left:0;
  background-color:#FFF;
  flex-flow:column nowrap;
  width:100%;
  height:100%;
  display:none;
  padding-top:75px;
  padding-left:25px;
  padding-right:25px;
  padding-bottom:85px;
  overflow:scroll;
}

.page-content {
  opacity:0;
  transition:opacity 1s;
}

#distances-page {
  /* display:flex; */
}

#distances-content {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image:radial-gradient(circle at 50%, #E4E5B6, #CECDE7);
  opacity:0;
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  padding-top:calc(50dvh - 50px);
  padding-left:20px;
  padding-right:20px;
  font-family:articulat-cf, sans-serif;
  font-weight:300;
  font-style:normal;
  overflow:scroll;
  padding-bottom:calc(50dvh - 50px);
}

  #distances-title,#distances-subtitle {
    opacity:1;
    transition:opacity .5s;
  }

  #distances-inspo-question,#distances-inspo-desc,#distances-love-question,#distances-love-desc {
    opacity:0;
    transition:opacity .5s;
  }

  #distances-title {
    width:100%;
    color:#fff;
    font-size:7dvw;
  }

  .distances-header {
    color:#fff;
    font-size:3em;
    line-height:1em;
  }

  #distances-subtitle {
    width:100%;
    font-size:20px;
    color:#000;
    line-height:24px;
  }

  #distances-inspo,#distances-love,#distances-demo {
    width:100%;
    margin-top:calc(50dvh + 100px);
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
  }

  #distances-fin {
    width:100%;
    margin-top:100px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
  }

  #distances-inspo {
    gap:50px;
  }

  #distances-inspo img {
    width:50%;
    opacity:0;
    transition:opacity .5s;
  }

  #distances-inspo-text {
    max-width:80%;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
  }

    #distances-inspo-question {
      text-align:center;
    }

    #distances-inspo-desc {
      margin-top:20px;
    }

  #distances-love,#distances-fin {
    max-width:700px;
    gap:20px;
  }

    #distances-love-question {
      align-self:start;
    }

    #distances-fin-text-1,#distances-fin-text-2 {
      opacity:0;
      transition:opacity .5s;
      text-align:center;
    }

  #distances-demo {
    gap:15px;
  }

  #distances-fin {
    max-width:700px;
  }

  .distances-caption {
    margin-bottom:50px;
    max-width:800px;
    font-size:14px;
    opacity:0;
    transition:opacity .5s;
  }

  #distances-demo img {
    width:65%;
    max-width:600px;
    opacity:0;
    transition:opacity .5s;
  }

  #distances-demo video {
    width:90%;
    max-width:800px;
    opacity:0;
    transition:opacity .5s;
  }

  .distances-final-img {
    width:90% !important;
    max-width:800px !important;
  }

  #distances-demo iframe {
    width:400px;
    height:446px;
    max-width:600px;
    opacity:0;
    transition:opacity .5s;
  }

  #p5js {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    gap:20px;
  }

  #p5js iframe {
    width:305px;
    height:310px;
    overflow-x:hidden;
    display:block;
    opacity:0;
    transition:opacity .5s;
  }

#ptpl-page {
  /* display:flex; */
}

#ptpl-content {
  opacity:0;
  width:100%;
  height:100%;
}

  #ptpl-phone-bg-container, #ptpl-phone-container, #ptpl-button-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  #ptpl-phone-bg {
    height:100dvh;
    width:100%;
    background-color:#000;
    background-size:cover;
  }

  #ptpl-phone-text {
    height:100dvh;
    width:100%;
    font-family: "Arial", sans-serif;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    padding-top:50dvh;
    overflow:scroll;
    color:#FFF;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:calc(50dvh - 150px);
  }

    #ptpl-phone-text-title {
      font-size:1.6em;
      opacity:1;
      transition:opacity .5s;
    }

    #ptpl-phone-text-subtitle {
      font-size:1em;
      opacity:1;
      transition:opacity .5s;
    }

    #ptpl-phone-text-desc-1 {
      font-size:14px;
      line-height:20px;
      margin-top:50dvh;
      opacity:0;
      transition:opacity .5s;
    }

    #ptpl-phone-text-desc-2,#ptpl-phone-text-link {
      font-size:14px;
      line-height:20px;
      margin-top:10px;
      opacity:0;
      transition:opacity .5s;
    }

    #ptpl-phone-text a {
      font-size:12px;
      color:#FFF;
      text-transform:uppercase;
    }

  #ptpl-button-bg {
    position:absolute;
    bottom:60px;
    background-color:#FFF;
    width:50px;
    height:50px;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
  }

    #ptpl-button {
      width:42px;
      height:42px;
      border-radius:42px;
      background-color:#FFF;
      border:1px solid #000;
      box-sizing:border-box;
      transition:border .25s ease;
    }

#film-page {
  /* display:flex; */
}

#info-page {
  /* display:flex; */
}

#film-content {
  display:flex;
  flex-flow:row nowrap;
}

  .film-content-row {
    display:flex;
    flex-flow:column nowrap;
  }

    #film-content video, #film-content img {
      box-sizing:border-box;
      border:25px solid white;
      width:100%;
      align-self:center;
      justify-self:center;
      transition:opacity .5s;
    }

  #info-content {
    display:flex;
    flex-flow:column nowrap;
    opacity:0;
    font-size:1em;
  }

    #current {
      margin-top:40px;
      display:flex;
      flex-flow:column nowrap;
      align-items:center;
    }

    #what-im-reading,#what-im-working-on {
      width:300px;
      display:flex;
      flex-flow:column nowrap;
      gap:25px;
      align-items:center;
    }

    #what-im-working-on {
      margin-top:50px;
    }

    .img-container {
      width:100%;
      height:250px;
      display:flex;
      flex-flow:column nowrap;
      gap:15px;
      font-size:.9em;
      justify-content:center;
      align-items:center;
    }

    #what-im-reading img,#what-im-working-on img {
      width:50%;
    }

    .slider {
      -webkit-appearance: none;
      height:5px;
      width:50%;
      border-radius:5px;
      background:#0047AB;
    }

    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color:#FF6803;
      width:20px;
      height:20px;
      border-radius:20px;
    }

#nav-container {
  width:100%;
  bottom:0;
  height:max-content;
  position:relative;
}

  .nav-tab {
    position:absolute;
    bottom:0;
    width:100%;
    height:100dvh;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border:.5px solid #0047AB;
    border-bottom: none;
    padding-left:25px;
    padding-right:25px;
    display:flex;
    flex-flow:row nowrap;
    padding-top:25px;
    align-items:center;
    padding-bottom:calc(100dvh + 100px);
    margin-bottom:calc(-100dvh - 100px);
    transition:transform 1s ease;
    background-color:#FFFFFF;
    color:#0047AB;
  }

  #archive-tab {
    position:absolute;
    bottom:0;
    width:100%;
    height:100dvh;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border:.5px solid #0047AB;
    border-bottom:none;
    padding-left:25px;
    padding-right:25px;
    padding-top:25px;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    padding-bottom:calc(100dvh);
    margin-bottom:calc(-100dvh);
    transition:transform 1s ease;
    background-color:#0047AB;
    color:#FFF;
    justify-content:space-between;
  }

    #quiet-exp {
      text-align:right;
    }

  .nav-tab:nth-of-type(1) {
    transform:translateY(-25px);
  }

  .nav-tab:nth-of-type(2) {
    transform:translateY(15px);
  }

  .nav-tab:nth-of-type(3) {
    transform:translateY(55px);
  }

  .nav-tab:nth-of-type(4) {
    /* INFO */
    transform:translateY(95px);
  }

  .nav-tab:nth-of-type(5) {
    /* HOME */
    background-color:#f5f5f5;
    display:none;
  }

@media (hover:hover) {

  #archive-tab {
    transform:translateY(-10px);
  }

  .nav-tab:nth-of-type(1) {
    transform:translateY(0px);
  }

  .nav-tab:nth-of-type(2) {
    transform:translateY(30px);
  }

  .nav-tab:nth-of-type(3) {
    transform:translateY(60px);
  }

  .nav-tab:nth-of-type(4) {
    /* INFO */
    transform:translateY(90px);
  }

}

@media only screen and (min-width: 769px) {

  #film-content video, #film-content img {
    border:50px solid white;
  }

  #current {
    flex-flow:row nowrap;
    align-items:start;
  }

  #what-im-working-on {
    margin-top:0px;
    margin-left:50px;
  }

  #ptpl-phone-bg, #ptpl-phone-text {
    width:400px;
  }

  #distances-inspo {
    flex-flow:row nowrap;
    justify-content:center;
  }

  #distances-inspo img {
    height:400px;
    width:auto;
  }

  #distances-inspo-text {
    max-width:700px;
  }

  #distances-inspo-question {
    text-align:left;
  }

  #p5js {
    flex-flow:row nowrap;
  }
}
