@font-face {
  font-family: 'PP Right Grotesk Mono';
  src: url('https://euniceyeeun.github.io/portfolio/assets/fonts/PPRightGroteskMono-Regular.otf') format('otf')
}

::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
  color:#000;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width:100%;
  height:100%;
  background-color:#FFF;
  color:#000;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
}

.main-container {
  background-color:RGB(245,245,245);
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.header {
  width:100%;
  position:relative;
  z-index:1;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
}

  .name {
    font-size:1em;
  }

  #nav-circle {
    width:25px;
    height:25px;
    background-color:#000;
    border-radius:50%;
  }

  .nav {
    /**/padding-bottom:20px;
    /**/position:absolute;
    /**/top:100%;
    /**/left:0;
    /**/height:0dvh;
    /**/opacity:0;
    /**/background-color:RGB(245,245,245);;
    /**/width:100%;
    display:flex;
    /**/flex-flow:column nowrap;
    /**/gap:20px;
    /**/justify-content:center;
    /**/align-items:center;
    font-size:1em;
    transition:height 1s;
  }

    .nav-item {
      /* padding-left:3em; */
      cursor:pointer;
      /**/opacity:0;
      /**/transition:opacity 1s;
    }

    .nav-selected{
      color:red;
      cursor:auto;
    }

#home-content {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  overflow:scroll;
  display:flex;
  flex-flow: column nowrap;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
}

  .home-item:nth-child(1) {
    padding-top:10vh;
  }

  .home-item {
    width:100%;
    display:flex;
    /**/flex-flow:column nowrap;
    /* justify-content:space-between; */
    align-items:center;
    padding-top:20px;
    /**/padding-bottom:50px;
  }

    .item-desc {
      /**/width:85%;
      font-family:'PP Right Grotesk Mono',Helvetica;
      font-size:12px;
      /**/padding-bottom:20px;
    }

    .item-content {
      width:100%;
      display:flex;
      justify-content:center;
      align-items:center;
    }

  .border img {
    border:40px solid #FFF;
  }

  .slideshow {
    cursor:ew-resize;
  }

  .book-size img {
    /* height:50vh; */
    height:60vw;
  }

  .sq-size img {
    height:45vw;
  }

  .poster-size img {
    width:65vw;
  }

  .web-size img {
    width:80vw;
  }

  .vertical-vid video {
    /**/width:40vw;
  }

  .horizontal-vid video {
    /**/width:70vw;
  }

  .proj-link {
    text-decoration: underline;
  }

  .proj-link:hover {
    font-style: italic;
  }

  .preview {
    display:none;
  }

#info-content {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  padding:20px;
  font-size:12px;
}

  .info {
    margin-bottom:10px;
    /**/line-height:14px;
  }

  #info-content img {
    width:33%;
    min-width:350px;
    max-width:600px;
    margin-bottom:20px;
  }

  #website-info {
    font-size:10px;
    position:absolute;
    bottom:0;
    margin-bottom:20px;
  }

  @media only screen and (min-width:768px) {
    #nav-circle {
      display:none;
    }

    .nav {
      padding-bottom:0px;
      position:relative;
      top:auto;
      left:auto;
      height:auto;
      opacity:1;
      background-color:RGB(255,255,255,0);
      width:auto;
      flex-flow:row nowrap;
    }

    .nav-item {
      padding-left:3em;
      opacity:1;
    }

    .home-item {
      flex-flow:row nowrap;
      justify-content:space-between;
      padding-bottom:90px;
    }

      .item-desc {
        width:75%;
      }

      .book-size img {
        height:50vh;
      }

      .sq-size img {
        height:35vh;
      }

      .poster-size img {
        width:40vh;
      }

      .web-size img {
        width:45vw;
      }

      .vertical-vid video {
        height:25vw;
        width:auto;
      }

      .horizontal-vid video {
        height:20vw;
        width:auto;
      }

  }

@media only screen and (min-width:1024px) {
  .item-desc {
    width:25%;
  }

  .sq-size img {
    height:45vh;
  }

  .poster-size img {
    width:50vh;
  }

  .web-size img {
    width:35vw;
  }
}
