::-webkit-scrollbar{
    display: none;
}

* {
  box-sizing:border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a, a:active, a:visited {
  text-decoration:none;
  color:#000;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width:100%;
  height:100%;
  background-color:#FFF;
  color:#000;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
}

.main-container {
  background-color:RGB(245,245,245);
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  width:100vw;
  height:100vh;
  display:flex;
  overflow:hidden;
}

.header {
  width:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
}

  .name {
    font-size:1em;
  }

  .nav {
    display:flex;
    flex-flow:row nowrap;
    font-size:1em;
  }

    .nav-item {
      padding-left:3em;
      cursor:pointer;
    }

    .nav-selected{
      color:red;
    }

#home-content {
  width:100%;
  height:100%;
  display:flex;
  overflow:scroll;
  flex-flow: column nowrap;
  padding-left:20px;
  padding-right:20px;
}

  .home-item:nth-child(1) {
    padding-top:10vh;
  }

  .home-item {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:20px;
    padding-bottom:100px;
  }

  .slideshow {
    cursor:ew-resize;
  }

  .book-size img {
    height:50vh;
  }

  .poster-size img {
    height:75vh;
  }

  .logo-size img {
    width:20vw;
  }

  .vertical-vid video {
    height:25vw;
  }

  .horizontal-vid video {
    height:20vw;
  }

#info-content {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  padding:20px;
  padding-top:40px;
  font-size:12px;
}

  .info {
    margin-bottom:10px;
    line-height:10px;
  }

  #info-content img {
    width:33%;
    min-width:350px;
    max-width:600px;
    margin-bottom:20px;
  }

  #website-info {
    font-size:10px;
    position:absolute;
    bottom:0;
    margin-bottom:20px;
  }
